@charset "UTF-8"; 
.w1720 {
    width: 1720px;
}
.product .inner{
    padding-bottom: 100px;
}
.product_nav .inner .gnb {
    padding: 40px 0 45px 18px;
}
.product_nav .inner .gnb .orange {
    color: #e07515;
    font-weight: bold;
}
.product_nav .inner_img img {
    width: 1720px;
    height: 566px;
}
li {
    list-style: none;
}

.product .product_row li {
    margin-top: 100px;
    width: 439px;
    height: 550px;
    text-align: center;
    float: left;
    cursor: pointer;
    position: relative;
}
.product .product_row .product_content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.product .product_row .product_img{
    height: 439px;
    overflow: hidden;
    position: relative;
}
.product .product_row li img{
    text-align: center;
    width: 90%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}
.product .product_row li h3 {
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.product .product_row li p {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    margin-bottom: 14px;
}
.product .product_row li h2 {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
.product .product_row img+img {
    opacity: 0;
    width: 100%;
}
.product .product_row li:hover img+img {
    opacity: 1;
    transform: scale(1.05) translateX(-50%);
}
.product .product_row li:hover > img {
    opacity: 0;
}

.product .product_big {
    padding: 0 30px;
}
.product .product_big a{
    display: block;
    margin-top: 100px;
}
.product .product_big a:nth-child(1){
    float: left;
}
.product .product_big a:nth-child(2){
    float: right;
}