@charset "utf-8";

/* header */
header{
    height: 80px;
    position: relative;
}
header .inner{
    position: relative;
}
header .menu-open{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-40%);
}
header .logo{
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
header .logo img{
    width: 100%;
}
header .gnb-sub{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
header .gnb-sub li{
    display: inline-block;
}
header .gnb-sub li:nth-child(2){
}
header .gnb-sub li a{
    display: block;
    padding: 5px 10px;
}
header .gnb-sub li a img{
    width: 30px;
    transition: 0.3s ease;
}
header .gnb-sub li a:hover img{
    opacity: 0.5;
}

/* footer */
footer .footer_main{
    height: 119px;
}
.footer_main .footer_content{
    float: left;
    width: calc( 100% - 119px);
    height: 100%;
    padding: 30px 20px;
}
.footer_main .footer_content .fnb{
    margin-bottom: 20px;
}
.footer_main .footer_content .fnb li{
    float: left;
}
.footer_main .footer_content .fnb li a{
    display: block;
    padding: 2px 10px;
    font-size: 18px;
    font-family: "notokr-700";
    font-weight: 700;
    color: rgb(51, 51, 51);
    transition: 0.3s ease;
}
.footer_main .footer_content .fnb li:first-child a{
    padding-left: 0;
}
.footer_main .footer_content .fnb a:hover{
    color: rgb(151, 151, 151);    
}
.footer_main .fnb_sns{
    float: right;   
    width: 119px;
    height: 119px;
}
.footer_main .fnb_sns li{
    width: 59px;
    height: 60px;
    float: left;
    position: relative;
    
}
.footer_main .fnb_sns li a{
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}
.footer_main .fnb_sns li a:hover img+img{
    opacity: 1;
}
.footer_main .fnb_sns li a:hover {
    background-color: rgb(51, 51, 51);
}
.footer_main .fnb_sns li img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 28px;
    transition: 0.3s ease;
}
.footer_main .fnb_sns li img+img{
    opacity: 0;
}
footer .footer_copy{
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    font-family: "noto-400";
}

.gnb.show{
    left: 0;
}
.gnb{
    position: fixed;
    top: 0;
    left: -360px;
    z-index: 99999;
    width: 360px;
    height: 100vh;
    background-color: #cbb895;
    transition: 0.3s ease;
}
.gnb-button{
    width: 360px;
    height: 80px;
}
.gnb .gnb-nav{
    margin: 50px 50px;
}
.gnb .gnb-nav li{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #212c4c;
    font-family: "noto-700";
}
.gnb .gnb-nav li a{
    display: block;
}
.gnb .gnb-nav li::after{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: #212c4c;
    transition: 0.3s ease;
    margin-top: 10px;
}
.gnb .gnb-nav li:hover::after{
    width: 100%;
}
.gnb .menu-close{
    position: absolute;
    top: 22.5px;
    right: 40px;
}
.gnb-sns{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    height: 90px;
}
.gnb-sns li{
    float: left;
    position: relative;
    width: 90px;
    height: 90px;
    border-top: 1px solid rgba(33,44,76,0.2);
    border-right: 1px solid rgba(33,44,76,0.2);
    transition: 0.3s ease;
}
.gnb-sns li:last-child{
    border-right: none;
}
.gnb-sns li img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s ease;
}
.gnb-sns li img+img{
    opacity: 0;
}
.gnb-sns li a{
    display: block;
    width: 90px;
    height: 90px;
}
.gnb-sns li:hover{
    background-color: #212c4c;
}
.gnb-sns li:hover img+img{
    opacity: 1;
}
.gnb-sns li:hover img{
    opacity: 0;
}
.dim.show{
    z-index: 99998;
    opacity: 1;
}
.dim{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99998;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.3s ease;
}